.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;

    .about-us-text-container {
        max-width: 570px;

        .section-header {
            color: #EE4D47;
            font-size: 24px;
            line-height: 40px;
            font-weight: 500;
            letter-spacing: 0.1em;
            font-weight: 700;
        }

        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 40px;
            color: #402B2B;
            max-width: 470px;
        }

        .question-card {
            max-width: 570px;
            background-color: #FCDDD4;
            padding: 26px 50px 26px 50px;
            position: relative;
            display: flex;
            align-items: center;

            .card-bar {
                position: absolute;
                left: 0;
                width: 10px;
                height: 100%;
                background-color: #ED4D47;

            }

        }
    }

}

@media screen and (min-width: 320px) {
    .about-container {
        padding: 50px;

        flex-direction: column;

        .about-us-text-container {

            p {
                font-size: 1rem;
                line-height: 30px;
            }

            .question-card {
                margin-top: 10px;

                p {
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 30px;
                }
            }
        }

        .about-illustration {
            height: 250px;
        }
    }
}

@media screen and (min-width: 481px) {
    .about-container {

        .about-us-text-container {

            p {
                font-size: 18px;
                line-height: 40px;
            }

            .question-card {
                margin-top: 40px;

                p {
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }
    }
}

@media screen and (min-width: 1025px){
    .about-container {
        flex-direction: row;

        .about-us-text-container {

            .question-card {
                margin-top: 60px;
            }
        }
    }
}

@media screen and (min-width: 1201px) {
    .about-container {
        .about-illustration {
            height: 480px;
        }
    }
}