.contact-container {
  background-image: url("../images/bg-footer_.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact-container .car-footer-container {
  position: absolute;
  left: 0;
}

.contact-container .contact-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-container .contact-top-container .contact-card-container {
  max-width: 340px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f264c;
  padding: 20px;
  border-radius: 5px;
}

.contact-container .contact-top-container .contact-card-container .contact-card-bar {
  background-color: #ED4D47;
  width: 10px;
  height: 100%;
  position: absolute;
  left: 0;
  border-radius: 5px 0 0 5px;
}

.contact-container .contact-top-container .contact-form-container {
  padding: 60px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
}

.contact-container .contact-top-container .contact-form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.contact-container .contact-top-container .contact-form-container form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .contact-top-container .contact-form-container form .input-container label {
  color: #402B2B;
  font-weight: 300;
}

.contact-container .contact-top-container .contact-form-container form .input-container input {
  max-width: 400px;
  background: #FFFFFF;
  border: 1px solid rgba(238, 77, 71, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.contact-container .contact-top-container .contact-form-container form .input-container input:focus {
  border: 3px solid rgba(238, 77, 71, 0.5);
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.3);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.3);
}

.contact-container .contact-top-container .contact-form-container form .orange-btn {
  padding: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #ee4d47;
  color: #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.contact-container .bottom-nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  color: #fff;
}

.contact-container .bottom-nav-container nav .navbar-btns-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.contact-container .bottom-nav-container nav .navbar-btns-container ul li {
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-container .bottom-nav-container nav .navbar-btns-container ul li a {
  font-weight: 500;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container footer {
  width: 100vw;
  padding: 30px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-container footer p {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #402B2B;
}

.contact-container footer .footer-icons-container ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container footer .footer-icons-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ED4D47;
  margin-left: 30px;
  cursor: pointer;
}

.contact-container footer .footer-icons-container ul .fb-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/fb.png");
}

.contact-container footer .footer-icons-container ul .twitter-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/twitter.png");
}

.contact-container footer .footer-icons-container ul .ig-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/ig.png");
}

@media screen and (min-width: 320px) {
  .contact-container {
    background-size: contain auto;
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-container .car-footer-container {
    bottom: 10%;
  }
  .contact-container .car-footer-container img {
    height: 150px;
    z-index: -1;
  }
  .contact-container .contact-top-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-container .contact-top-container .contact-card-container {
    z-index: 2;
  }
  .contact-container .contact-top-container .contact-card-container p {
    font-size: .8rem;
    line-height: 20px;
  }
  .contact-container .contact-top-container .contact-form-container {
    padding: 25px 40px 25px 40px;
    z-index: 2;
  }
  .contact-container .contact-top-container .contact-form-container form {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-container .contact-top-container .contact-form-container form .input-container {
    font-size: .8rem;
    margin-top: 5px;
  }
  .contact-container .contact-top-container .contact-form-container form .input-container input {
    padding: 10px;
  }
  .contact-container .contact-top-container .contact-form-container form .orange-btn {
    font-size: .8rem;
    margin-top: 5px;
  }
  .contact-container .bottom-nav-container {
    z-index: 2;
  }
  .contact-container .bottom-nav-container nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
  }
  .contact-container .bottom-nav-container nav img {
    width: 170px;
  }
  .contact-container .bottom-nav-container nav .navbar-btns-container ul li a {
    width: 100px;
  }
  .contact-container footer {
    padding: 10px;
  }
}

@media screen and (min-width: 481px) {
  .contact-container .contact-top-container .contact-card-container p {
    font-size: 20px;
    line-height: 30px;
  }
  .contact-container .contact-top-container .contact-form-container {
    padding: 50px;
  }
  .contact-container .contact-top-container .contact-form-container form .input-container {
    font-size: 18px;
    line-height: 40px;
  }
  .contact-container .contact-top-container .contact-form-container form .orange-btn {
    width: 200px;
  }
  .contact-container .bottom-nav-container .navbar-btns-container ul li a {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (min-width: 769px) {
  .contact-container .contact-top-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-container footer {
    padding: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .contact-container .car-footer-container {
    top: 42%;
    -webkit-transform: translateY(-42%);
            transform: translateY(-42%);
  }
  .contact-container .car-footer-container img {
    height: 250px;
  }
  .contact-container .contact-top-container .contact-card-container {
    margin-top: 150px;
  }
  .contact-container .contact-top-container .contact-form-container {
    width: 550px;
    height: 440px;
  }
  .contact-container .contact-top-container .contact-form-container form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-container .contact-top-container .contact-form-container form .input-container input {
    padding: 18px 30px 18px 30px;
  }
  .contact-container .contact-top-container .contact-form-container form .orange-btn {
    font-size: 16px;
    line-height: 19px;
  }
  .contact-container .bottom-nav-container {
    width: 100%;
  }
  .contact-container .bottom-nav-container nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-container .bottom-nav-container nav .navbar-btns-container ul li a {
    width: 180px;
  }
}

@media screen and (min-width: 1662px) {
  .contact-container {
    background-size: 90%;
  }
  .contact-container .contact-top-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-container .contact-top-container .contact-card-container {
    margin-right: 200px;
  }
  .contact-container .bottom-nav-container nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=Contact.css.map */