.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url('../images/bg-faq.svg') top right;
    background-repeat: no-repeat;

    .top-content-container {
        display: flex;
        justify-content: center;

        .faq-text-container {
            max-width: 550px;

            .section-header {
                color: #EE4D47;
                font-size: 24px;
                line-height: 40px;
                font-weight: 500;
                letter-spacing: 0.1em;
                font-weight: bold;
            }

            h2 {
                color: #402B2B;
                font-family: 'DM Serif Display', serif;

            }
        }
    }

    .questions-container {
        display: grid;
        overflow: scroll;
        max-width: 1130px;
        align-items: start;

        .question-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #402B2B;

            /* CONTENT BEFORE SEE MORE CLICK */
            .initial-content {
                background-color: #FFFFFF;
                box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
                border-radius: 10px;
                padding: 30px;
                word-wrap: break-word;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 2;


                .plus-btn {
                    height: 20px;
                    width: 20px;
                    background-image: url('../images/arrow-plus.svg');
                    background-repeat: no-repeat;
                    background-color: transparent;
                    background-position: center;
                    padding-left: 20px;
                    margin-left: 10px;
                    cursor: pointer;
                }
        
                .minus-btn {
                    height: 20px;
                    width: 20px;
                    padding-left: 20px;
                    margin-left: 10px;
                    background-image: url('../images/arrow-horizontal.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: transparent;
                    cursor: pointer;
                }

            }

            /* CONTENT AFTER SEE MORE CLICK */
            .card-description-container {
                z-index: 1;
                margin-top: -10px;
                background: #FFF7F5;
                box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
                border-radius: 10px;
                padding: 30px;
            }
        }

        .loadmore-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            padding: 30px;
            font-weight: 700;
            border-radius: 10px;
            cursor: pointer;
            background-color: rgba(237, 77, 71, 0.3);
            color: #ED4D47;
            grid-column: 2;

            .loadmore-btn-plus {
                cursor: pointer;
                height: 20px;
                width: 20px;
                margin-left: 10px;
                padding-left: 20px;
                background-image: url('../images/arrow-showmore.png');
                background-repeat: no-repeat;
                background-color: transparent;
                background-position: center;
            }
        }
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 320px) {
    .faq-container {
        padding: 50px;
        background-size: contain auto;

        .top-content-container {
            flex-direction: column;

            .faq-text-container {
    
                h2 {
                    font-size: 1.3rem;
                    line-height: 30px;
                }
            }
            img {
                height: 150px;
            }
        }
        
        .questions-container {
            grid-gap: 5px;
            margin-top: 10px;
            grid-template-columns: 1fr 1fr;

            .question-card {
                grid-column: 1/ span 2;
                font-weight: 500;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 481px) {
    .faq-container {

        .top-content-container {

            .faq-text-container {
                h2 {
                    font-size: 1.8rem;
                }
            }
            img {
                height: 200px;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .faq-container {

        .top-content-container {

            .faq-text-container {
                h2 {
                    font-size: 2.3rem;
                    line-height: 40px;
                }
            }
        }

        .questions-container {
            grid-gap: 20px;

            .question-card {
                grid-column: auto;
                font-size: 18px;
            }
        }
    }
}


@media screen and (min-width: 1025px){
    .faq-container {

        .top-content-container {
            flex-direction: row;
            
            img {
                height: 250px;
            }
        }

    }


}

@media screen and (min-width: 1201px) {
    .faq-container {
        background-size: 1170px auto;

        .top-content-container {
            
            .faq-text-container {
                h2 {
                    font-size: 48px;
                    line-height: 140%;
                }
            }

            img {
                height: 350px
            }
        }
    }
}