.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
  background: url("../images/bg-faq.svg") top right;
  background-repeat: no-repeat;
  background-size: 1170px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-container .top-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq-container .top-content-container .faq-text-container {
  max-width: 550px;
  margin-top: 150px;
}

.faq-container .top-content-container .faq-text-container .section-header {
  color: #EE4D47;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.faq-container .top-content-container .faq-text-container h2 {
  color: #402B2B;
  font-family: 'DM Serif Display', serif;
  font-size: 48px;
  line-height: 140%;
}

.faq-container .questions-container {
  display: -ms-grid;
  display: grid;
  margin-top: 100px;
  overflow: scroll;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  max-width: 1130px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.faq-container .questions-container .question-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #402B2B;
}

.faq-container .questions-container .question-card .initial-content {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  height: 90px;
  padding: 30px;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.faq-container .questions-container .question-card .initial-content h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

.faq-container .questions-container .question-card .initial-content .plus-btn {
  height: 20px;
  width: 20px;
  background-image: url("../images/arrow-plus.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  padding-left: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.faq-container .questions-container .question-card .initial-content .minus-btn {
  height: 20px;
  width: 20px;
  padding-left: 20px;
  margin-left: 10px;
  background-image: url("../images/arrow-horizontal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.faq-container .questions-container .question-card .card-description-container {
  z-index: 1;
  margin-top: -10px;
  background: #FFF7F5;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.faq-container .questions-container .loadmore-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  padding: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(237, 77, 71, 0.3);
  color: #ED4D47;
  -ms-grid-column: 2;
  grid-column: 2;
}

.faq-container .questions-container .loadmore-btn .loadmore-btn-plus {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-image: url("../images/arrow-showmore.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}
/*# sourceMappingURL=Faq.css.map */