// HOME
.home-container {
    background-image: url('../images/background-header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    padding: 250px 250px 250px 325px;
    font-family: "DM Serif Display", serif;
    position: relative;
    z-index: 1;

    h1 {
        font-size: 100px;
        max-width: 900px;
        line-height: 100%;
    }

    // GET STARTED BTN

    .orange-btn {
        width: 200px;
        padding: 15px;
        font-family: "Rubik", sans-serif;
        background-color: #ee4d47;
        color: #fff;
        border-radius: 3px;
        margin-top: 60px;
        font-weight: 400;
        cursor: pointer;
        
        a {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    // CAR
    .car-img {
        position: absolute;
        bottom: 0;
        left: 0;
        animation: 1s ease-out 0s 1 slideFromLeft;
    }
}

// CAR ANIMATION
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}