.howto-container {
    display: flex;
    justify-content: center;
    align-items: center;


    .howto-text-container {
        max-width: 455px;

        .section-header {
            color: #EE4D47;
            font-size: 24px;
            line-height: 40px;
            font-weight: 500;
            letter-spacing: 0.1em;
            font-weight: bold;

        }

        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 40px;
            color: #402B2B;
            margin-top: 40px;
        }
    }
}