.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;

    .navbar-btns-container {
        ul {
            margin-top: 10px;
            display: flex;
            list-style-type: none;
            align-items: center;

            li {
                margin-left: 10px;
                border-radius: 5px;
                cursor: pointer;

                &:last-child {
                    background-color: #ee4d47;
                }

                a {
                    font-weight: 500;
                    width: 180px;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .hamburger-menu-container {
        margin-top: 10px;

    }
}


@media screen and (min-width: 320px) {

    .navbar {

        img {
            width: 150px;
        }

        .navbar-btns-container {
            display: none;
            visibility: hidden;
        }

        .hamburger-menu-container {
            display: block;
            visibility: visible;
        }
    }
}

@media screen and (min-width: 713px) {
    .navbar {

        img {
            width: 212px;
        }

        .navbar-btns-container {
            display: flex;
            visibility: visible;
        }

        .hamburger-menu-container {
            display: none;
            visibility: hidden;
        }
    }
}


@media screen and (max-width: 980px) {
     .navbar {

        .navbar-btns-container {

            ul {

                li {
                    margin-left: 0;

                    a {
                        width: 120px;
                        padding: 10px;
                    }
                }
            }
        }
     }
}

@media screen and (max-width: 1201px) {

    .navbar {
        .navbar-btns-container {
            ul {
                li {
                    &:last-child {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}